$base-color: #E97777;
$seconday-color: #FF9F9F;
$tertiary-color: #FCDDB0;
$fourth-color: #FFFAD7;

$font: 'Roboto', sans-serif;
$weight1: 400;
$weight2: 500;
$weight3: 700;

$title: 3rem;
$small-title: 1.3rem;
$text: 1rem;
