@import "../../styles/variables/variables.scss";

button {
    background-color: $base-color;
    border: none;
    padding: 3px;
    border-radius: 4px;
    color: $fourth-color;
    &:hover {
        cursor: pointer;
        background-color: $seconday-color;
    }
}